*{
    padding: 0%;
    margin: 0%;
}
.mainimg{
    width: 100%;
    background : rgb(0, 0, 0) ;
    background-blend-mode: darken;
}
.header{
    display: flex;
    gap: 10%;
    background-color: black;
    color: rgba(2, 2, 216, 0.849);
    font-size: 25px;
    justify-content: center;
}
.login1{
    font-size: x-large;
    background-color: orangered;
    border-radius: 10px;
}
.about2{
    color: brown;
    text-align: center;
    font-size: xx-large;
}
.maps{
    display: flex;
    gap: 4%;
}